*{
    box-sizing: border-box;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:"header" "main" "footer";
 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
}


header, main, footer{
    padding: 1rem;
}

/*PRODUKT.HTML, LEVERANSE.HTML og ANALYSE.HTML: bedriftnavn i header*/
header{
    background-color: rgb(32, 123, 32);
    text-align: center;
    font-size: 3vw;
    grid-area: header;
}

/*Header for produkt.html, leveranse.html og analyse.html*/
.flex-container h1 a{
    text-decoration: none;
    color: white;
}

/*Navigering i header for alle sidene; meny, profil, favoritter etc...*/
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a{
    color: white;
    font-size: 3vw;
    display: flex;

}

.navbar form i{
    color: white;
}

/*PRODUKT.HTML, LEVERANSE.HTML og ANALYSE.HTML: overskrift*/
main h1{
    grid-area: main;
    padding: 10px;
    margin-bottom: 5%;
    text-align: center;
    font-size: 6vw;
    color:rgb(23, 123, 23);
}

/*INDEX.HTML: overskrift*/
main h1 a{
    text-decoration: none;
    color:rgb(23, 123, 23);
    font-size: 6vw; 
}

main p{
    font-size: 3vw;
    text-align: left;
}

/*Navigering breadcrumb for produkt.html, leveranse.html og analyse.html*/
.breadcrumb {
    list-style: none;
}
.breadcrumb li {
    display: inline;
    font-size: 2.5vw;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
.breadcrumb li a {
    color: black;
    text-decoration: none;
    text-align: left;
}
.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/*KILDE: brukt https://www.w3schools.com/howto/howto_css_breadcrumbs.asp*/

/*PRODUKT.HTML: justering av posjon for tekst "filtrer" */
.filter p{
    text-align: right;
    font-size: 2.5vw;
}

/*LEVERANSE.HTML: undertittel*/
#leveranse{
    text-align: center;
}

/*LEVERANSE.HTML: undertittel*/
#leveranse h5{
    display: inline-block;
    padding-right: 1rem;
    margin: 0;
    font-size: 2vw;
}

/*INDEX.HTML: Seksjoner med artikler som er knapper for ulike tema; kampanje, barn, dame, herre og informasjon*/
button {
    border: 2px solid rgb(23, 123, 23);
    border-radius: 20px;
    width: 300px;
    height: 100px;
    margin: 1.5rem;
 }
 /*KILDE: brukt https://stackoverflow.com/questions/15461317/button-background-image for å sette inn bakgrunnsbilde på knapp*/

#forside-seksjoner article{
    margin-bottom: 2rem;
}

/*Nedenfor er koding for hver atikkel på index.html*/ 
.kampanje {
    background-image: url('img/flowers-3876195_960_720.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/blomster-grener-t%C3%B8rke-t%C3%B8rket-3876195/*/
    background-size: cover;
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 3vw; 
    font-weight: bold;
}

.barn{
    background-image: url('img/people-1560569_960_720.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/mennesker-sm%C3%A5gutter-parkere-barn-1560569/*/
    background-size: cover;
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: bold;
}

.dame{
    background-image: url('img/girls-1853958_1280.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/jenter-benk-latter-ler-venner-1853958/*/
    background-size: cover;
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: bold;
}

.herre{
    background-image: url('img/male-7275449_960_720.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/mann-modell-portrett-ansikt-7275449/*/
    background-size: cover;
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: bold;
}

.informasjon {
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: bold;
}



/*Koding for alle atikkel-modulene på produkt.html*/ 

#product-box{
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    
}
#product-box article{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid rgb(23, 123, 23);

    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2.5vw;
}

#product-box article ul{
    padding: 1.5rem;
    border-radius: 20px;
}

#product-box article img{
        max-width: 155px;
        width: 100%;
}

/*Nedenfor er koding for seksjon på leveranse.html*/
.textbox {
    grid-area: main;
    width: 90%;
    height: 100px;
    text-align: left;
    margin: 0.5rem;
    padding: 2rem;
    border: 3px solid rgb(23, 123, 23);
}

.textbox p{
    font-size: 2.5vw;
    margin:0;
}

.textbox li{
    font-size: 2.5vw;
}

footer{
    display: flex;
    grid-area: footer;
    padding: 1rem;
    gap: 5%;
}

footer p{
    color: rgb(23, 123, 23);
}

/*oppsett for analyse.html*/
#analyse {
    text-align: left;
    font-size: 3vw;
    
}

#analyse section {
    margin-bottom: 3rem;
    
}

#analyse section img {
    border: 3px solid rgb(23, 123, 23);
    border-radius: 8px;
    width: 75%;
}

/*bilder på analyse.html*/
#nokkelord img{
    width: 100%;
    border-radius: 8px;
    border: 5px solid rgb(23, 123, 23);
    margin-right: 0.5rem;
    margin-bottom: 2rem;
}

/*Tabell på analyse.html*/

table{
    border-collapse: collapse;
    font-size: 2vw;
}


table, th, td {
    border: 5px solid rgb(23, 123, 23);
}

.multi-row {
    text-orientation: mixed;
    white-space: nowrap;
}
/*KILDE: brukt https://www.w3schools.com/css/css_table.asp og ChatGPT for å sette style til tabellen*/

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .skip:focus{
    position: static;
    width: auto;
    height: auto;
  }



@media only screen and (min-width: 300px) {
    
    #grid-container{
        grid-template-columns:  1fr 2fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header header header" ". main main ." "footer footer footer footer";
    }

    html{
        font-size: calc(1em + 1vw); 
    }

    header{
        grid-area: header;
        width: 100%;
        float: right;
    }

    .navbar a{
        font-size: 2vw;
        text-decoration: none;
        color: white;
    }

    main{
        grid-area: main;
        width: 100%;
        float: right;
    }

    /*Nedenfor er koding for hver atikkel på index.html*/
    #forside-seksjoner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #forside-seksjoner button{
        width: 100%;
        height: 22vw;
        border: 3px solid rgb(32, 123, 32);
  }

    /*Koding for alle atikkel-modulene på produkt.html*/ 
    #product-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        
    }
    #product-box article{
        align-items: center;
        border: 3px solid rgb(23, 123, 23);
        border-radius: 20px;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    #product-box article img{
    max-width: 250px;
    width: 100%;
    }

    /*Nedenfor er koding for seksjon på leveranse.html*/
    .textbox{
        max-width: 900px;
        width: 100%;
        height: 75%;
    }
    
    footer{
    grid-area: footer;
    margin-top: 3rem;
    width: 100%;
    float: right;
    }
}

