/*Generelle innstillinger for alle sidene*/
*{
    box-sizing: border-box;
}
#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:"header" "main" "footer";
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
main{
    grid-area: main;
    width: 100%;
    float: right;
}

/*PRODUKT, LEVERANSE og ANALYSE, area: header*/
header{
    display: flex;
    background-color: rgb(32, 123, 32);
    font-size: 3vw;
    grid-area: header;
    justify-content: space-between;
    width: 100%;
}

/*PRODUKT, LEVERANSE og ANALYSE, area: header*/
.flex-container{
    align-items: flex-start;
    text-align: center;
    justify-content:left;
    gap: 5%;
    padding:25px;
}
.flex-container h1 a{
    text-decoration: none;
    color: white;
}

/*FORSIDE, area: header*/
.flex-container-forside{
    display: inline-flex;
    padding:25px;
}

/*PRODUKT, LEVERANSE og ANALYSE, area: header - navigering (favoritter, handlekurv, søk etc.)*/
.navbar{
    display: flex;
    flex-direction: row;
    gap: 7%;
    display: inline-block;

}
.navbar a{
    display: flex;
    flex-direction: row;
    gap: 7%;
    display: inline-block;
    color: white;
    text-decoration: none;
}
.navbar form input {
    color: white;
    font-size: 3vw;
}

.navbar form button {
    color: white;
    font-size: 13px;
}

.navbar form button i {
    color: rgb(32, 123, 32);
}

/*FORISDEN, area: header - navigering (favoritter, handelkurv søk etc.)*/
.navbar-forside {
    display: flex;
    flex-direction: row;
    gap: 7%;
    display: inline-block;

}
.navbar-forside a {
    display: flex;
    flex-direction: row;
    gap: 7%;
    display: inline-block;
    color: white;
    text-decoration: none;
}
.navbar-forside form input {
    color: white;
    width: 20%;
    height: auto;
    padding: 3px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 3vw;
}
.navbar-forside form button {
    color: white;
    font-size: 13px;
}
.navbar-forside form button i {
    color: rgb(32, 123, 32);
}

/*PRODUKT.HTML, LEVERANSE.HTML og ANALYSE.HTML, area: main - hovedoverskrift*/
main h1{
    grid-area: main;
    padding: 10px;
    margin-bottom: 5%;
    text-align: center;
    margin-top: 2rem;
    font-size: 6.5vw;
    color:rgb(23, 123, 23);
}
main p{
    font-size: 3vw;
    text-align: left;
    display: grid;
    margin: 20px;
    align-content: center;
}

/*FORSIDE, area: main - hovedoverskrift*/
main h1 a{
    text-decoration: none;
    color:rgb(23, 123, 23);
    font-size: 6.5vw;
}

/*PRODUKT, LEVERANSE OG ANALYSE, area: main - navigering breadcrumb*/
.breadcrumb {
    list-style: none;
    display: flex;
    justify-content: start;
}
.breadcrumb li {
    display: inline;
    font-size: 2.5vw;
}
.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
.breadcrumb li a {
    color: black;
    text-decoration: none;
    text-align: left;
}
.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
} /*KILDE: brukt https://www.w3schools.com/howto/howto_css_breadcrumbs.asp*/

/*PRODUKT, area: main - justering av posjon for tekst "filtrer"*/
.filter a{
    display: flex;
    justify-content: end;
    font-size: 3vw;
    margin-right: 1.5rem;
    text-decoration: none;
    color: black;
}

/*LEVERANSE, area: main - undertittel*/
#leveranse{
    text-align: center;
}
#leveranse h5{
    display: inline-block;
    padding-right: 1rem;
    margin: 0;
    font-size: 2vw;
}

 /*FORSIDE, area: main - for knappene til produktvarer*/
#forside-seksjoner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
}

#forside-seksjoner button {
    background-size: cover;
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 3vw; 
    font-weight: bold;
    width: 100%;
    height: 22vw;
    margin-bottom: 3rem;    
}
.kampanje {
    background-image: url('img/flowers-3876195_960_720.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/blomster-grener-t%C3%B8rke-t%C3%B8rket-3876195/*/
    /*KILDE: brukt https://stackoverflow.com/questions/15461317/button-background-image for å sette inn bakgrunnsbilde på knapp*/
}
.barn{
    background-image: url('img/people-1560569_960_720.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/mennesker-sm%C3%A5gutter-parkere-barn-1560569/*/
    /*KILDE: brukt https://stackoverflow.com/questions/15461317/button-background-image for å sette inn bakgrunnsbilde på knapp*/
}
.dame{
    background-image: url('img/girls-1853958_1280.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/jenter-benk-latter-ler-venner-1853958/*/
    /*KILDE: brukt https://stackoverflow.com/questions/15461317/button-background-image for å sette inn bakgrunnsbilde på knapp*/
}
.herre{
    background-image: url('img/male-7275449_960_720.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/mann-modell-portrett-ansikt-7275449/*/
    /*KILDE: brukt https://stackoverflow.com/questions/15461317/button-background-image for å sette inn bakgrunnsbilde på knapp*/
}

/*PRODUKT, area: main - Koding for alle atikkel-modulene med svare og informasjon om varen*/
#product-box section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid rgb(32, 123, 32);
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

#product-box section img {
    display: flex;
    width: 50%;
}
#product-box section form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
}
#product-box section form select, label {
    display: flex;
    font-size: 3vw;
    justify-content: space-;
}


/*LEVERANSE, area: main - koding for tekstinnhold*/
.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem;
    margin-top: 0.25rem;
    border: 3px solid rgb(23, 123, 23);
}

.textbox p{
    font-size: 2.5vw;

}
.textbox li{
    font-size: 2.5vw;
}

/*ANALYSE*/
#nokkelord {
    display: grid;
    padding-right: 1rem;
    margin: 2rem;
    font-size: 2vw;
    margin-top: 0;
}

#nokkelord h2 {
    margin: 1rem;
}

#nokkelord p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nokkel {
    border-radius: 8px;
    border: 5px solid rgb(23, 123, 23);
    width: 100%;
    max-width: 400px;
    height: auto;
    display: inline-block;
}

#for-utbedring h1 {
    margin-top: 1rem;
}

/*oppsett for analyse.html*/
#analyse p, li {
    text-align: left;
    font-size: 2.5vw;
}

#analyse ul li {
    margin-bottom: 0.5rem;
}

#analyse caption {
    font-size: 1.7vw;
  
}

#analyse article {
    margin: 0 1rem 0 1rem;
}

#analyse article h2{
    font-size: 3vw;
    margin: 1rem;
}

#analyse section {
    margin: 0 1rem 0 1rem;
}

#analyse section h3{
    font-size: 2.5vw;
    margin: 1rem;
}

#analyse section h4{
    font-size: 2.5vw;
    margin: 1rem;
}
#analyse section h5{
    font-size: 2.5vw;
    margin: 1rem;
}
#analyse section dt, dl {
    text-align: left;
    font-size: 2.5vw;
    margin-left: 1rem;
}
#analyse section img {
    width: 80%;
    border-radius: 8px;
    border: 5px solid rgb(23, 123, 23);
    margin: 0 1rem 1rem 1rem;
    justify-content: center;
}

#analyse section figure img{
    width: 80%;
      border-radius: 8px;
      border: 5px solid black;
      margin: 1rem;
      justify-content: center;
    }
    #analyse section figure figcaption{
        font-size: 2.5vw;
        margin-bottom: 1.5rem;
    }

#analyse table caption{
    font-size: 2.5vw;
}
table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    overflow-x: auto;
} /*KILDE: brukt https://www.w3schools.com/css/css_table_responsive.asp for å sette overfloc-x*/

table tr:hover {
    background-color:rgb(23, 123, 23);
    color: white;
} /*KILDE: brukt https://www.w3schools.com/css/css_table_style.asp*/
table th {
    border: 3px solid rgb(23, 123, 23);
    font-size: 1.75vw;
    padding: 3px;
    text-align: center;
}
table tr td {
    border: 3px solid rgb(23, 123, 23);
    vertical-align: top;
    padding: 3px;
    font-size: 1.75vw;
}
.multi-row {
    text-orientation: mixed;
    white-space: nowrap;
    text-align: center;
} /*KILDE: brukt https://www.w3schools.com/css/css_table.asp og ChatGPT for å sette style til tabellen*/


/*FORALLE SIDENENE - SKIP TO CONTENT; header, main og footer*/
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus{
    position: static;
    width: auto;
    height: auto;
}





figure {
    margin: 0;
}

figcaption {
    font-size: 2.5vw;
}

/*For alle sidenene, area: footer*/
#flex-bottom{
    grid-area: footer;
    display: flex;
    justify-content: center;
    gap: 5%;
}
#flex-bottom p {
    color: rgb(23, 123, 23);
    font-size: 4vw;
}

/*GJELDENE FOR ENDRINGENE SOM SKAL SKJE I OVERGANG TIL DEKSTOP*/
@media only screen and (min-width: 800px) {
    
    /*Generelle innstillinger*/
    #grid-container{
        grid-template-columns:  1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header header" ". main ." "footer footer footer";
    }

    /*For alle sidenene, area: header*/
    header, .navbar, .navbar-forside{
        grid-area: header;
        width: 100%;
        float: right;
    }

    /*FORSIDE, Area: header*/
    .navbar-forside {
        grid-area: header;
        width: 100%;
        float: right;
        margin-top: 4.75rem;
    }
    .navbar-forside a {
        font-size: 2.5vw;
        text-decoration: none;
        color: white;
    }

    /*PRODUKT, LEVERANSE, area: header*/
    .navbar {
        grid-area: header;
        width: 100%;
        float: right;
    }
    .navbar a{
        font-size: 2.5vw;
        text-decoration: none;
        color: white;
    }
    .navbar form label{
        font-size: 2vw;
    }
    .navbar form button {
        color: white;
        font-size: 42px;
    }

    /*For alle sidenene, area: main*/
    main{
        grid-area: main;
        width: 100%;
        float: right;
    }

    /*FORSIDEN, area: main*/
    #forside-seksjoner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*FORSIDEN, area: main
    produktknappene*/
    #forside-seksjoner button{
        width: 100%;
        height: 22vw;
        border: 3px solid rgb(32, 123, 32);
    }

    /*PRODUKT, area: main, 
    Koding for alle produktvare-modulene*/ 
    #product-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        
    }
    #product-box article{
        align-items: center;
        border: 3px solid rgb(23, 123, 23);
        border-radius: 20px;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    /*ANALYSE, area: main 
    gjeldene for alle tabellene på siden*/
    table tr:hover {
        background-color:rgb(23, 123, 23);
        /*KILDE: brukt https://www.w3schools.com/css/css_table_style.asp*/
        color: white;
    }
    table {
        width: auto;
        height: auto;
        overflow-x: auto;
    }

    /*For alle sidenene, area: footer*/
    footer {
    grid-area: footer;
    margin-top: 3rem;
    width: 100%;
    float: right;
    }
}