*{
    box-sizing: border-box;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:"header" "main" "footer";
 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    align-items: center;
    margin: 0;
}

header{
    grid-area: header;
    background-color: rgb(32, 123, 32);
    color: rgb(255, 255, 255);
    text-align: center;
}

header nav ul{
    list-style: none;
}

header ul li a{
    color: rgb(255, 255, 255);
    justify-content: space-between;
    text-decoration: none;
}
 
header nav h1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}

/*Ikoner i head-delen*/
.flex-container{
    align-items: flex-start;
    justify-content:left;
    gap: 5%;
    padding:25px;
}

/*Header for produkt.html og leveranse.html*/
#header nav ul li a{
    flex-direction: row;
    align-items: flex-start;
    justify-content:left;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar li a{
    font-size: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*
.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a {
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}
*/

/*Navigering stistruktur for produkt.html og leveranse.html*/
.stilstruktur p{
    text-align: left;
    padding: 0.5rem;
}

.filter{
    text-align: right;
}

/*Overskrift på leveranse.html*/
#leveranse h1{
    text-align: center;

}

/*Undertittel på leveranse.html*/
#leveranse h5{
    display: inline-block;
    vertical-align: baseline;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin: 0;
}

/*Overskrift for index.html*/
main h1{
    grid-area: main;
    padding: 10px;
    margin-bottom: 5%;
    text-align: center;
}

/*Overskrift for index.html*/
main h1 a{
    text-decoration: none;
    color:rgb(23, 123, 23);
    font-size: calc(1em + 1vw); 
}

/*INDEX.HTML: Seksjoner med artikler som er knapper for ulike tema; kampanje, barn, dame, herre og informasjon*/
button {
    border: 2px solid rgb(23, 123, 23);
    border-radius: 20px;
    width: 300px;
    height: 100px;
    margin: 1.5rem;
 }
 /*KILDE: brukt https://stackoverflow.com/questions/15461317/button-background-image for å sette inn bakgrunnsbilde på knapp*/

#forside-seksjoner article{
    margin-bottom: 2rem;
}

/*Nedenfor er koding for hver atikkel på index.html*/ 
.kampanje {
    background-image: url('img/flowers-3876195_960_720.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/blomster-grener-t%C3%B8rke-t%C3%B8rket-3876195/*/
    background-size: cover;
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: calc(1em + 1vw); 
    font-weight: bold;
}

.barn{
    background-image: url('img/people-1560569_960_720.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/mennesker-sm%C3%A5gutter-parkere-barn-1560569/*/
    background-size: cover;
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: calc(1em + 1vw); 
    font-weight: bold;
}

.dame{
    background-image: url('img/girls-1853958_1280.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/jenter-benk-latter-ler-venner-1853958/*/
    background-size: cover;
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: calc(1em + 1vw); 
    font-weight: bold;
}

.herre{
    background-image: url('img/male-7275449_960_720.jpg');
    /*KILDE: bilde hentet fra https://pixabay.com/no/photos/mann-modell-portrett-ansikt-7275449/*/
    background-size: cover;
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 130%;
    font-weight: bold;
}

.informasjon {
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: calc(1em + 1vw); 
    font-weight: bold;
}

img{
    max-width: 155px;
    width: 100%;
}

/*Koding for alle atikkel-modulene på produkt.html*/ 

#product-box{
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    
}
#product-box article{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid rgb(23, 123, 23);
    border-radius: 20px;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: smaller;
}

/*Nedenfor er koding for seksjon på leveranse.html*/
.textbox{
    grid-area: main;
    width: 100%;
    height: 100px;
    text-align: left;
    margin: 1rem;
    padding: 2rem;
    border: 3px solid rgb(23, 123, 23);
}

footer{
    display: flex;
    text-align: right;
    grid-area: footer;
    padding: 1rem;
    gap: 5%;
}

footer p{
    color: rgb(23, 123, 23)
}

/*oppsett for analyse.html*/
#analyse {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
}

#analyse section {
    margin-bottom: 3rem;
}

/*bilder på analyse.html*/
#analyse img{
    border-radius: 8px;
    border: 3px solid rgb(23, 123, 23);
    max-width: 45%;
    height: auto;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
}

#tredjebilde {
    margin-top: 0.5rem;
    width: 50%;
    margin-left: 11.5rem;


}

/*Tabell på analyse.html*/

table {
    border-collapse: collapse;
    width: 85%;
}

table, th, td {
    border: 3px solid rgb(23, 123, 23);
}

th, td {
    padding: 8px;
    text-align: left;
}

.multi-row {
    text-orientation: mixed;
    white-space: nowrap;
}
/*KILDE: brukt https://www.w3schools.com/css/css_table.asp og ChatGPT for å sette style til tabellen*/


@media only screen and (min-width: 300px) {
    
    #grid-container{
        grid-template-columns:  1fr 2fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header header header" ". main main ." "footer footer footer footer";
    }

    html{
        font-size: calc(1em + 1vw); 
    }

    header{
        grid-area: header;
        width: 100%;
        float: right;
    }

    .navbar li a{
        font-size: 2vw;
    }

    main{
        grid-area: main;
        width: 100%;
        float: right;
    }

    /*Nedenfor er koding for hver atikkel på index.html*/
    .kampanje{
      width: 150%;
    }

    .barn{
        width: 150%;
    }

    .dame {
        width: 150%;
    }

    .herre {
        width: 150%;
    }

    .informasjon {
        width: 150%;

    }

    /*Koding for alle atikkel-modulene på produkt.html*/ 

    #forside-seksjoner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #forside-seksjoner article{
        max-width: 300px;
        width: 100%;
    }

    #product-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        
    }
    #product-box article{
        align-items: center;
        border: 3px solid rgb(23, 123, 23);
        border-radius: 20px;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    img{
    max-width: 250px;
    width: 100%;
    }

    /*Nedenfor er koding for seksjon på leveranse.html*/
    .textbox{
        max-width: 900px;
        width: 100%;
        height: 75%;
    }
    
    footer{
    grid-area: footer;
    margin-top: 3rem;
    width: 100%;
    float: right;
    }
}

